<ons-carousel var="app.carousel" fullscreen swipeable overscrollable auto-scroll>
                    <ons-carousel-item>
                     <a class="img-responsive" href ng-click="clickMe()" align="center">
                     <img ng-src="{{imageList['image1']}}" alt="Starter template example"></a>

                             <h3 align="center">Angel Falls, Venezuela</h3>

                            <p align="center">Photo taken {{date|date}}. Click on the image to zoom in, or the following link for more information:&nbsp;
                                <br><a class="btn btn-default" href="#">View Details >></a>
                            </p>
                    </ons-carousel-item>
                    <ons-carousel-item>
                            <a class="img-responsive" href ng-click="clickMe()" align="center">
            <img ng-src="{{imageList['image2']}}" alt="Starter template example"></a>

                             <h3 align="center">Mount Everest, Nepal</h3>

                            <p align="center">Photo taken {{date|date}}. Click on the image to zoom in, or the following link for more information:&nbsp;
                                <br><a class="btn btn-default" href="#">View Details >></a>
                            </p>
                    </ons-carousel-item>
                    <ons-carousel-item>
                     <a class="img-responsive" href ng-click="clickMe()" align="center">
                     <img ng-src="{{imageList['image3']}}" alt="Starter template example"></a>

                             <h3 align="center">Coliseum, Rome</h3>

                            <p align="center">Photo taken {{date|date}}. Click on the image to zoom in, or the following link for more information:&nbsp;
                                <br><a class="btn btn-default" href="#">View Details >></a>
                            </p>
                    </ons-carousel-item>
                    <ons-carousel-item>
                     <a class="img-responsive" href ng-click="clickMe()" align="center">
                     <img ng-src="{{imageList['image4']}}" alt="Starter template example"></a>

                             <h3 align="center">Kīlauea Volcano, Hawaii</h3>

                            <p align="center">Photo taken {{date|date}}. Click on the image to zoom in, or the following link for more information:&nbsp;
                                <br><a class="btn btn-default" href="#">View Details >></a>
                            </p>
                    </ons-carousel-item>

                    <!--<ons-carousel-cover><div class="cover-label">Swipe left or right</div></ons-carousel-cover>-->
            </ons-carousel>